autopep8==1.6.0
certifi==2021.10.8
charset-normalizer==2.0.10
docutils==0.18.1
idna==3.3
Kivy==2.0.0
kivy-deps.angle==0.3.1
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
pycodestyle==2.8.0
Pygments==2.11.2
pypiwin32==223
pywin32==303
regex==2021.11.10
requests==2.27.1
toml==0.10.2
urllib3==1.26.8
