.main-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../../assets/image/background.jpg");

    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes bouncing-arrow {

    0%,
    100% {
        transform: translateY(-8%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.pop-up {
    z-index: 100;
    font-size: calc(min(3vw, 10vh));
    line-height: calc(min(3vw, 10vh));
    background-color: black;
    padding: 0.4em;
    color: white;
    position: absolute;
    top: 20%;
    left: 20%;
    width: auto;
    width: 70vw;
    border: 0.1em solid white;
    border-radius: 0.2em;
}

.avoid-repetitive-task {
    position: relative;

    :hover::before {
        content: "Notice yourself implementing the same algorithm again and again? JMC has features to implement those for you and the code will already be optimized without you having to put in any work.";
        @extend .pop-up
    }
}

.superior-syntax {
    position: relative;

    :hover::before {
        content: "Aren't you tired of creating new file for each function? In JMC, you can write everything in a single file if you want. But, you still have option to split it into multiple file. JMC also supports  inline-comment, multiline-command. And you no longer need to create tick.json or load.json";
        @extend .pop-up
    }
}

.low-learning-curve {
    position: relative;

    :hover::before {
        content: "It takes 5-10 minutes to learn basic JMC if you already know Minecraft Datapack";
        @extend .pop-up
    }
}