.feature {
    border: double 0.4em transparent;
    border-top: none;
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 1em;
    background-image: none;
    transition: height 0.3s ease-out, margin 0.15s ease-in;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 1em;
    height: 0;
    margin-bottom: 4em;
    font-size: var(--fs4);

    &[open] {
        background-image: linear-gradient(var(--background), var(--background)),
            var(--gradiant-dark-reverse);
        margin-left: 5vw;
        margin-right: 5vw;
        overflow: visible;
        height: 90vh;

        & > summary {
            & > .text {
                margin-left: 0.7em;
            }

            & > .icon {
                margin-left: 0.3em;
                &::after {
                    transform: skewX(-40deg) translateX(15%);
                }

                &::before {
                    transform: skewX(-40deg) translateX(-15%);
                }
            }

            &::before {
                transform: skewX(-30deg);
            }
        }
        & > .child {
            height: 90%;
            overflow-y: overlay;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                width: 0.5rem;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background: var(--secondary);
                border-radius: 10px;
            }

            &::-webkit-scrollbar-track {
                background: rgba(0, 0, 0, 0.2);
            }
        }
    }
    & > summary {
        padding: 0.3em 0.6em;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        list-style: none;
        color: aliceblue;
        position: relative;
        z-index: 0;
        max-height: 10vw;
        font-size: var(--fs2);
        cursor: pointer;

        transition: transform 0.1s ease-in;

        &:hover {
            transform: scaleX(102%);
        }

        &::before {
            content: "";
            z-index: -1;
            position: absolute;
            top: 0%;
            left: -4%;
            right: -4%;
            bottom: 0%;
            background: var(--gradiant);
            border: 0.3em solid var(--primary-dark);
            border-radius: 0.2em;
            transform: skewX(-15deg);
            transition: transform 0.5s ease-in-out;
        }

        & > .icon {
            width: 2em;
            height: 1em;
            margin-right: 0.5em;
            transition: margin 0.6s ease;
            position: relative;
            &::before,
            &::after {
                content: "";
                position: absolute;
                transition: all 0.2s ease-out;
                width: 100%;
                height: 30%;
                background-color: var(--secondary);
                border-color: wheat;
                border-radius: 0.2em;
            }

            &::before {
                top: 10%;
                transform: skewX(40deg);
            }

            &::after {
                bottom: 10%;
                transform: skewX(40deg);
            }
        }

        & > .text {
            transition: margin 0.4s ease;
            white-space: nowrap;
        }
    }

    & > .child {
        color: aliceblue;
        padding: 1em;
    }
}
