@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: MinecraftTen;
    src: url(assets/font/MinecraftTen-VGORe.ttf);
}

@font-face {
    font-family: Minecraft;
    src: url(assets/font/MinecraftRegular-Bmg3.otf);
}

@font-face {
    font-family: Minecraft;
    font-weight: bold;
    src: url(assets/font/MinecraftBold-nMK1.otf);
}

@font-face {
    font-family: Minecraft;
    font-weight: bold;
    font-style: italic;
    src: url(assets/font/MinecraftBoldItalic-1y1e.otf);
}

@font-face {
    font-family: Minecraft;
    font-style: italic;
    src: url(assets/font/MinecraftItalic-R8Mo.otf);
}

html {
    font-family: Minecraft, sans-serif;
}

body {
    background-color: dimgray;
}

img.minecraft {
    image-rendering: pixelated;
}

::-webkit-scrollbar {
    width: 0.9rem;
}

::-webkit-scrollbar-track {
    background-color: rgb(20, 20, 20);
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 0.3rem solid transparent;
    background-clip: content-box;
}
